.logo_company {
    width: 120px;
    height: 50px;
    position: relative !important;
    left: 10px;
    top: 10px;
}

.topicChart {
    text-align: center;
}

.reserveChart {
    height: 650px;
}

.poChart {
    position: relative !important;
    bottom  : 10px;
}
